In [39]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [61]:
_data=pd.read_csv('student/student-mat.csv')

In [117]:
data=_data.drop('school', axis=1)

In [118]:
data

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,18,0,1,1,4,4,3,0,2,...,4,3,4,1,1,3,6,5,6,6
1,0,17,0,1,0,1,1,3,4,2,...,5,3,3,1,1,3,4,5,5,6
2,0,15,0,0,0,1,1,3,4,4,...,4,3,2,2,3,3,10,7,8,10
3,0,15,0,1,0,4,2,1,2,0,...,3,2,2,1,1,5,2,15,14,15
4,0,16,0,1,0,3,3,4,4,0,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,1,20,0,0,1,2,2,2,2,2,...,5,5,4,4,5,4,11,9,9,9
391,1,17,0,0,0,3,1,2,2,2,...,2,4,5,3,4,2,3,14,16,16
392,1,21,1,1,0,1,1,4,4,2,...,5,5,3,3,3,3,3,10,8,7
393,1,18,1,0,0,3,2,2,4,2,...,4,4,1,3,4,5,0,11,12,10
394,1,19,0,0,0,1,1,4,3,2,...,3,2,3,3,3,5,5,8,9,9

In [119]:
#x_train_samples=data[:250]
#y_train_samples=data['G3'][:250]

from sklearn.model_selection import train_test_split
train_set, test_set  = train_test_split(data, test_size=0.2, random_state=42)
print(f"Rows in train set: {len(train_set)}\nRows in test set: {len(test_set)}\n")
train_labels=data['G3'][:316]

test_labels=test_set['G3']

train_set=train_set.drop('G3', axis=1)
test_set=test_set.drop('G3',axis=1)

Rows in train set: 316
Rows in test set: 79

## Classifier

In [87]:
from sklearn.linear_model import LogisticRegression

In [120]:
clf=LogisticRegression()
clf.fit(train_set, train_labels)

/home/mohit/.local/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [125]:
pred=clf.predict(test_set)
pred

array([11,  0, 15, 13, 14,  6,  8, 11, 14, 12, 11, 11, 14, 14, 10, 18, 10,
       10,  0, 11, 10,  7, 10, 12, 12, 10, 10,  9, 12, 13, 11,  0,  8, 13,
       10, 11, 11, 15, 10, 15, 10, 14,  0, 13, 10,  0,  0, 11,  0,  8, 11,
        0,  6,  9, 11, 15, 10, 14, 10, 11,  0, 15, 13, 12, 13, 11, 14,  0,
       15, 10, 17, 10, 18, 18,  8, 10, 15, 10, 13])

## Predict to myself

In [122]:
labels=[1,16,0,1,0,4,4,0,0,1,1,4,2,0,1,0,0,0,0,1,1,4,2,1,0,1,1,4,0,15,15]
labels=np.resize(labels, (1,31))

In [123]:
clf.predict(labels)

array([14])

## Error Measurement

In [113]:
from sklearn.metrics import mean_squared_error

In [126]:
mse=mean_squared_error(test_labels,pred )
rmse=np.sqrt(mse)

In [127]:
mse

51.79746835443038

In [128]:
rmse

7.197045807442827

## Exporting Model

In [129]:
from joblib import dump, load
dump(clf, 'StudentsProgressModel.joblib')

['StudentsProgressModel.joblib']